.Pagination{
    display: flex;
    align-items: center;
}

.Pagination_size_s .PaginationItem{
    min-width: 28px;
    max-width: 100%;
    height: 26px;
}
.Pagination_size_m .PaginationItem{
    min-width: 30px;
    max-width: 100%;
    height: 28px;
}
.Pagination_size_l .PaginationItem{
    min-width: 32px;
    max-width: 100%;
    height: 30px;
}

.PaginationItem{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    color: var(--text-secondary);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.PaginationItem_active{
    color: var(--text-primary-on-brand);
    background: var(--base-brand);
}

.PaginationItem:disabled{
    cursor: not-allowed;
    opacity: .3;
}