.MenuItem {
    border-radius: var(--radius-s);
    transition: background-color var(--transition-time) var(--transition-func);
}

.MenuItem:not(.MenuItem_disabled):hover {
    background-color: var(--base-hover);
    cursor: pointer;
}

.MenuItem:not(.MenuItem_disabled):active {
    background-color: var(--base-layer-accent);
}


/* SIZE */
.MenuItem_size_s {
    padding: var(--gap-s) var(--gap-sm);
}

.MenuItem_size_m {
    padding: var(--gap-s) var(--gap-m);
}

.MenuItem_size_l {
    padding: var(--gap-sm) var(--gap-l);
}

/* STATUS */
.MenuItem_active {
    background-color: var(--base-hover);
}

.MenuItem_disabled {
    color: var(--text-disabled);
}