.Loader{
    min-width: 200px;
    background-color: var(--base-layer-accent);
    position: relative;
    border-radius: var(--radius-xs);
}

.LoaderInner{
    --loader-completed-width: 50%;
    
    height: 100%;
    width: var(--loader-completed-width);
    background-color: var(--base-brand);
    border-radius: inherit;
    text-align: right;
    transition: width var(--transition-time) linear;
}

.LoaderPlaceholder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Loader_size_xs{
    height: 4px;
}

.Loader_size_s{
    height: 12px;
}

.Loader_size_m{
    height: 20px;
}
