.badge {
    display: inline-block;

    border-radius:var(--radius-s);
    padding: var(--gap-xs) var(--gap-s);

    color: currentColor;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    border: 1px solid rgb(66, 62, 69);

    font-size: inherit;
    font-family: inherit;
}