.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-sm);
    font-family: var(--font-family);
    border: none;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    gap: var(--gap-s);

    /* cursor: pointer; */
    transition: background-color var(--transition-time) var(--transition-func);

    position: relative;
}

.Button:focus {
    outline: none;
}



/* SIZE */
.Button_size_xs {
    padding: 4px 12px;
    font-size: 13px;
}

.Button_size_s {
    padding: 8px 12px;
    font-size: 14px;
}

.Button_size_m {
    padding: 10px 16px;
    font-size: 14px;
}

.Button_size_l {
    padding: 10px 16px;
    font-size: 16px;
}



/* ICON */
.Icon {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* BAZA */
.Button_primary {}

.Button_transparent {
    background-color: transparent;
}
.Button_outlined {
    border: 1px solid;
    background-color: transparent;
}


/* GHOST */
.Button_ghost_primary {
    color: var(--text-primary);
    background: var(--button-ghost);
}

.Button_ghost_primary:hover {
    background: var(--button-ghost-hover);
}

.Button_ghost_primary:active {
    background: var(--button-ghost-active);
}

.Button_ghost_primary:focus {
    outline: 2px solid var(--button-ghost-focus);
}



.Button_ghost_transparent {
    color: var(--text-primary);
}

.Button_ghost_transparent:hover {
    background: var(--button-ghost-hover);
}

.Button_ghost_transparent:active {
    background: var(--button-ghost-active);
}

.Button_ghost_transparent:focus {
    outline: 2px solid var(--button-ghost-focus);
}



.Button_ghost_outlined {
    color: var(--text-primary);
    border-color: var(--button-ghost);
}

.Button_ghost_outlined:hover {
    background: var(--button-ghost-hover);
}

.Button_ghost_outlined:active {
    background: var(--button-ghost-active);
}

.Button_ghost_outlined:focus {
    outline: 2px solid var(--button-ghost-focus);
}








/* WARNING */
.Button_warning_primary {
    color: var(--text-primary);
    background: var(--button-warn);
}

.Button_warning_primary:hover {
    background: var(--button-warn-hover);
}

.Button_warning_primary:active {
    background: var(--button-warn-active);
}

.Button_warning_primary:focus {
    outline: 2px solid var(--button-ghost-focus);
}



.Button_warning_transparent {
    color: var(--text-warn);
}

.Button_warning_transparent:hover {
    background: var(--button-warn-medium);
}

.Button_warning_transparent:active {
    background: var(--button-warn-active);
}

.Button_warning_transparent:focus {
    outline: 2px solid var(--button-ghost-focus);
}



.Button_warning_outlined {
    color: var(--text-warn);
    border-color: var(--button-warn);
}

.Button_warning_outlined:hover {
    background: var(--button-warn-medium);
}

.Button_warning_outlined:active {
    background: var(--button-warn-active);
}

.Button_warning_outlined:focus {
    outline: 2px solid var(--button-ghost-focus);
}





/* DANGER */
.Button_danger_primary {
    color: var(--text-primary);
    background: var(--button-danger);
}

.Button_danger_primary:hover {
    background: var(--button-danger-hover);
}

.Button_danger_primary:active {
    background: var(--button-danger-active);
}

.Button_danger_primary:focus {
    outline: 2px solid var(--button-ghost-focus);
}


.Button_danger_transparent {
    color: var(--text-danger);
}

.Button_danger_transparent:hover {
    background: var(--button-danger-medium);
}

.Button_danger_transparent:active {
    background: var(--button-danger-active);
}

.Button_danger_transparent:focus {
    outline: 2px solid var(--button-ghost-focus);
}



.Button_danger_outlined {
    color: var(--text-danger);
    border-color: var(--button-danger);
}

.Button_danger_outlined:hover {
    background: var(--button-danger-medium);
}

.Button_danger_outlined:active {
    background: var(--button-danger-active);
}

.Button_danger_outlined:focus {
    outline: 2px solid var(--button-ghost-focus);
}





/* POSITIVE */
.Button_positive_primary {
    color: var(--text-primary);
    background: var(--button-positive);
}

.Button_positive_primary:hover {
    background: var(--button-positive-hover);
}

.Button_positive_primary:active {
    background: var(--button-positive-active);
}

.Button_positive_primary:focus {
    outline: 2px solid var(--button-ghost-focus);
}


.Button_positive_transparent {
    color: var(--text-positive);
}

.Button_positive_transparent:hover {
    background: var(--button-positive-medium);
}

.Button_positive_transparent:active {
    background: var(--button-positive-active);
}

.Button_positive_transparent:focus {
    outline: 2px solid var(--button-ghost-focus);
}



.Button_positive_outlined {
    color: var(--text-positive);
    border-color: var(--button-positive);
}

.Button_positive_outlined:hover {
    background: var(--button-positive-medium);
}

.Button_positive_outlined:active {
    background: var(--button-positive-active);
}

.Button_positive_outlined:focus {
    outline: 2px solid var(--button-ghost-focus);
}




/* BRAND */
.Button_brand_primary {
    color: var(--button-brand-text);
    background: var(--button-brand);
}

.Button_brand_primary:hover {
    background: var(--button-brand-hover);
}

.Button_brand_primary:active {
    background: var(--button-brand-active);
}

.Button_brand_primary:focus {
    outline: 2px solid var(--button-ghost-focus);
}


.Button_brand_transparent {
    color: var(--text-brand);
}

.Button_brand_transparent:hover {
    background: var(--button-brand-medium);
}

.Button_brand_transparent:active {
    background: var(--button-brand-active);
}

.Button_brand_transparent:focus {
    outline: 2px solid var(--button-ghost-focus);
}



.Button_brand_outlined {
    color: var(--text-brand);
    border-color: var(--button-brand);
}

.Button_brand_outlined:hover {
    background: var(--button-brand-medium);
}

.Button_brand_outlined:active {
    background: var(--button-brand-active);
}

.Button_brand_outlined:focus {
    outline: 2px solid var(--button-ghost-focus);
}




/* DISABLED */

.Button_primary:disabled {
    cursor: not-allowed;
    color: var(--text-disabled);
    background: var(--button-disabled);
}

.Button_transparent:disabled {
    cursor: not-allowed;
    color: var(--text-disabled);
    background-color: transparent;
}
.Button_outlined:disabled {
    color: var(--text-disabled);
    border-color: var(--button-ghost-disabled);
    background-color: transparent;
}
