.button {
    min-height: 36px;
    min-width: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    padding: var(--gap-s) var(--gap-m);
    border-radius: var(--radius-xl, 44px);
    border: none;

    color: currentColor;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);

    font-size: inherit;
    font-family: inherit;
}

.bg-green-box::after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: -1;
    border-radius: 45px;
}

.bg-green-box::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}