
/* SIZE */
.Size_text_xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.Size_text_s {
    font-size: 0.875rem;
    line-height: 1.125rem;
}
.Size_text_m {
    font-size: 1rem;
    line-height: 1.25rem;
}
.Size_text_l {
    font-size: 1.125rem;
    line-height: 1.5rem;
}


.Size_heading_l {
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.Size_heading_xl {
    font-size: 1.5rem;
    line-height: 1.75rem;
}
.Size_heading_xxl {
    font-size: 1.75rem;
    line-height: 2.125rem;
}


.Size_display_l {
    font-size: 2rem;
    line-height: 2.5rem;
}
.Size_display_xl {
    font-size: 2.5rem;
    line-height: 3rem;
}
.Size_display_xxl {
    font-size: 3rem;
    line-height: 3.375rem;
}


.Text_disabled {
    color: var(--text-disabled);
    opacity: 0.9;
}
.Text_strong {
    font-weight: 700;
}

.TextThinner {
    font-weight: 200;
}
.TextThin {
    font-weight: 300;
}
.TextRegular {
    font-weight: 400;
}
.TextBold {
    font-weight: 600;
}
.TextBolder {
    font-weight: 800;
}