:root {
  /* Admin | Dark
  /* color */
  --font-family: "Nunito Sans";
  --transition-time: 250ms;
  --transition-func: cubic-bezier(.4,.0,.23,1);
  --base-background: var(--base-dark-1);
  --base-brand: #554ae2;
  --base-brand-active: #776ef2;
  --base-brand-hover: #776ef2;
  --base-brand-light: #554ae233;
  --base-brand-medium: #554ae24d;
  --base-danger: #ff5c5c;
  --base-danger-active: #e95f5f;
  --base-danger-hover: #e56b6b;
  --base-danger-light: #ff5c5c33;
  --base-danger-medium: #ff5c5c4d;
  --base-dropdown: var(--base-dark-4);
  --base-focus: #aba6ed;
  --base-hover: var(--base-dark-6);
  --base-info: #0a7aff;
  --base-info-light: #0a7aff33;
  --base-info-medium: #0a7aff4d;
  --base-layer: var(--base-dark-2);
  --base-layer-border: var(--base-dark-5);
  --base-layer-accent: var(--base-dark-5);
  --base-layer-hover: var(--base-dark-4);
  --base-positive: #0dc268;
  --base-positive-active: #13c86e;
  --base-positive-light: #0dc26833;
  --base-positive-medium: #0dc2684d;
  --base-postitive-hover: #1ce782;
  --base-shadow: #00000033;
  --base-temp-stroke: #ffffff29;
  --base-tooltip: var(--gray-900);
  --base-warn: #f0a72f;
  --base-warn-active: #e9a451;
  --base-warn-hover: #ebb069;
  --base-warn-light: #f0a72f33;
  --base-warn-medium: #f0a72f4d;
  --base-black: #000000;
  --base-dark-1: #161616;
  --base-dark-2: #1b1b1d;
  --base-dark-3: #202024;
  --base-dark-4: #252528;
  --base-dark-5: #2e2e31;
  --base-dark-6: #36363a;
  --base-light-1: #f9f9fa;
  --base-light-2: #f4f4f6;
  --base-light-3: #eeeef1;
  --base-light-4: #e3e3e8;
  --base-light-5: #d8d8de;
  --base-light-6: #cacad2;
  --base-white: #ffffff;
  --blue-100: #ddebf9;
  --blue-200: #bedaf4;
  --blue-300: #91c1ed;
  --blue-400: #5ea9ed;
  --blue-50: #d3e0ee;
  --blue-500: #2c91ee;
  --blue-600: #1d76c9;
  --blue-700: #1f5b93;
  --blue-800: #1d4163;
  --blue-900: #152737;
  --blue-950: #080d11;
  --button-brand: var(--base-brand);
  --button-brand-active: var(--base-brand-active);
  --button-brand-hover: var(--base-brand-hover);
  --button-brand-light: var(--base-brand-light);
  --button-brand-medium: var(--base-brand-medium);
  --button-brand-text: var(--text-light-primary);
  --button-ghost: var(--base-dark-4);
  --button-ghost-active: var(--base-dark-5);
  --button-ghost-hover: var(--base-dark-6);
  --button-positive-active: var(--base-positive-active);
  --button-positive-hover: var(--base-postitive-hover);
  --button-danger: var(--base-danger);
  --button-danger-active: var(--base-danger-active);
  --button-danger-hover: var(--base-danger-hover);
  --button-danger-light: var(--base-danger-light);
  --button-danger-medium: var(--base-danger-medium);
  --button-disabled: var(--base-dark-4);
  --button-positive: var(--base-positive);
  --button-positive-light: var(--base-positive-light);
  --button-positive-medium: var(--base-positive-medium);
  --button-warn: var(--base-warn);
  --button-warn-active: var(--base-warn-active);
  --button-warn-hover: var(--base-warn-hover);
  --button-warn-light: var(--base-warn-light);
  --button-warn-medium: var(--base-warn-medium);
  --checkbox-active: var(--blue-500);
  --checkbox-active-hover: var(--blue-400);
  --checkbox-default: var(--gray-600);
  --checkbox-disabled: var(--gray-800);
  --checkbox-hover: var(--gray-500);
  --danger-100: #fde8eb;
  --danger-200: #f8bac3;
  --danger-300: #f499a6;
  --danger-400: #f17989;
  --danger-50: #fef6f7;
  --danger-500: #ed576b;
  --danger-600: #ce5565;
  --danger-700: #a14551;
  --danger-800: #7b3740;
  --danger-900: #57282e;
  --danger-950: #231013;
  --gray-100: #f2f1f3;
  --gray-200: #e1e1e5;
  --gray-300: #d1d0d8;
  --gray-400: #bebcc7;
  --gray-50: #fcfcfd;
  --gray-500: #aaa8b6;
  --gray-600: #8a889b;
  --gray-700: #6b697d;
  --gray-800: #4e4d5b;
  --gray-900: #32313a;
  --gray-950: #151519;
  --icons-brand: var(--base-brand);
  --icons-danger: var(--base-danger);
  --icons-dark-ghost: var(--text-dark-ghost);
  --icons-dark-primary: var(--text-dark-primary);
  --icons-dark-secondary: var(--text-dark-secondary);
  --icons-disabled: var(--text-disabled);
  --icons-ghost: var(--text-ghost);
  --icons-info: var(--base-info);
  --icons-light-ghost: var(--text-light-ghost);
  --icons-light-primary: var(--text-light-primary);
  --icons-light-secondary: var(--text-light-secondary);
  --icons-positive: var(--base-positive);
  --icons-primary: var(--text-primary);
  --icons-secondary: var(--text-secondary);
  --icons-warn: var(--base-warn);
  --input-border: var(--gray-900);
  --input-border-brand: var(--base-brand);
  --input-disabled: var(--base-dark-3);
  --input-disabled-layer: var(--base-dark-3);
  --input-fill: var(--base-dark-2);
  --input-fill-layer: var(--base-dark-1);
  --lime-100: #ecf7d4;
  --lime-200: #daf0a8;
  --lime-300: #c9ee77;
  --lime-400: #baf042;
  --lime-50: #f5f9ec;
  --lime-500: #b0ff00;
  --lime-600: #87bd0f;
  --lime-700: #638811;
  --lime-800: #41570f;
  --lime-900: #20290a;
  --lime-950: #101406;
  --primary-100: #edecf9;
  --primary-200: #d5d3f3;
  --primary-300: #aba6ed;
  --primary-400: #776ef2;
  --primary-50: #f8f8fc;
  --primary-500: #554ae2;
  --primary-600: #3b30d5;
  --primary-700: #372fa7;
  --primary-800: #312b7d;
  --primary-900: #282556;
  --primary-950: #1b1a33;
  --status-accepted: var(--warn-500);
  --status-error: var(--danger-500);
  --status-success: var(--success-500);
  --success-100: #d3eede;
  --success-200: #aae4c1;
  --success-300: #6dd998;
  --success-400: #3ed57a;
  --success-50: #edf8f1;
  --success-500: #28ba62;
  --success-600: #249450;
  --success-700: #1e713f;
  --success-800: #174f2d;
  --success-900: #0f2f1b;
  --success-950: #0a1f12;
  --switch-disabled: #1f1f1f;
  --switch-ellipse: #eeeef1;
  --switch-ellipse-disabled: #707071;
  --switch-off: #3c3c3c;
  --switch-on: #0dc268;
  --tab-active: var(--gray-900);
  --tab-active-danger: var(--danger-600);
  --tab-counter: var(--gray-900);
  --tab-counter-active: var(--gray-800);
  --tab-fill: var(--base-dark-2);
  --text-brand: var(--base-brand);
  --text-danger: var(--base-danger);
  --text-dark-ghost: #7b7a81;
  --text-dark-primary: #222026;
  --text-dark-secondary: #585760;
  --text-disabled: #3a3a3f;
  --text-ghost: #6e6e7a;
  --text-info: var(--base-info);
  --text-light-ghost: #6e6e7a;
  --text-light-primary: #ebebed;
  --text-light-secondary: #a6a8ae;
  --text-positive: var(--base-positive);
  --text-primary: #ebebed;
  --text-secondary: #a6a8ae;
  --text-warn: var(--base-warn);
  --warn-100: #f2e6d9;
  --warn-200: #e9ceaf;
  --warn-300: #e0b685;
  --warn-400: #d69e5c;
  --warn-50: #f7f2ee;
  --warn-500: #cc8735;
  --warn-600: #a36b29;
  --warn-700: #7d501c;
  --warn-800: #533513;
  --warn-900: #2a1b0a;
  --warn-950: #1c1208;
  /* Admin | Light */
  /* color */
  /* --base-background: var(--base-light-1);
  --base-brand: #554ae2;
  --base-brand-active: #776ef2;
  --base-brand-hover: #776ef2;
  --base-brand-light: #554ae233;
  --base-brand-medium: #554ae24d;
  --base-danger: #ff5c5c;
  --base-danger-active: #e95f5f;
  --base-danger-hover: #e56b6b;
  --base-danger-light: #ff5c5c33;
  --base-danger-medium: #ff5c5c4d;
  --base-dropdown: var(--base-white);
  --base-focus: #aba6ed;
  --base-hover: var(--base-light-2);
  --base-info: #0a7aff;
  --base-info-light: #0a7aff33;
  --base-info-medium: #0a7aff4d;
  --base-layer: var(--base-white);
  --base-layer-border: var(--base-light-3);
  --base-layer-accent: var(--base-light-3);
  --base-layer-hover: var(--base-white);
  --base-positive: #0dc268;
  --base-positive-active: #13c86e;
  --base-positive-light: #0dc26833;
  --base-positive-medium: #0dc2684d;
  --base-postitive-hover: #1ce782;
  --base-shadow: #1f1f231a;
  --base-temp-stroke: #00103d1f;
  --base-tooltip: var(--base-white);
  --base-warn: #f0a72f;
  --base-warn-active: #e9a451;
  --base-warn-hover: #ebb069;
  --base-warn-light: #f0a72f33;
  --base-warn-medium: #f0a72f4d;
  --base-black: #000000;
  --base-dark-1: #0f0f10;
  --base-dark-2: #202022;
  --base-dark-3: #202022;
  --base-dark-4: #252528;
  --base-dark-5: #2e2e31;
  --base-dark-6: #36363a;
  --base-light-1: #f9f9fa;
  --base-light-2: #f4f4f6;
  --base-light-3: #eeeef1;
  --base-light-4: #e3e3e8;
  --base-light-5: #d8d8de;
  --base-light-6: #cacad2;
  --base-white: #ffffff;
  --blue-100: #152737;
  --blue-200: #1d4163;
  --blue-300: #1f5b93;
  --blue-400: #1d76c9;
  --blue-50: #080d11;
  --blue-500: #2c91ee;
  --blue-600: #5ea9ed;
  --blue-700: #91c1ed;
  --blue-800: #bedaf4;
  --blue-900: #ddebf9;
  --blue-950: #d3e0ee;
  --button-brand: var(--base-brand);
  --button-brand-active: var(--base-brand-active);
  --button-brand-hover: var(--base-brand-hover);
  --button-brand-light: var(--base-brand-light);
  --button-brand-medium: var(--base-brand-medium);
  --button-brand-text: var(--text-light-primary);
  --button-ghost: var(--gray-900);
  --button-ghost-active: var(--gray-800);
  --button-ghost-hover: var(--gray-700);
  --button-positive-active: var(--base-positive-active);
  --button-positive-hover: var(--base-postitive-hover);
  --button-danger: var(--base-danger);
  --button-danger-active: var(--base-danger-active);
  --button-danger-hover: var(--base-danger-hover);
  --button-danger-light: var(--base-danger-light);
  --button-danger-medium: var(--base-danger-medium);
  --button-disabled: var(--gray-800);
  --button-positive: var(--base-positive);
  --button-positive-light: var(--base-positive-light);
  --button-positive-medium: var(--base-positive-medium);
  --button-warn: var(--base-warn);
  --button-warn-active: var(--base-warn-active);
  --button-warn-hover: var(--warn-400);
  --button-warn-light: var(--base-warn-light);
  --button-warn-medium: var(--base-warn-medium);
  --checkbox-active: var(--blue-500);
  --checkbox-active-hover: var(--blue-400);
  --checkbox-default: var(--gray-500);
  --checkbox-disabled: var(--gray-800);
  --checkbox-hover: var(--gray-400);
  --danger-100: #57282e;
  --danger-200: #7b3740;
  --danger-300: #a14551;
  --danger-400: #ce5565;
  --danger-50: #231013;
  --danger-500: #ed576b;
  --danger-600: #f17989;
  --danger-700: #f499a6;
  --danger-800: #f8bac3;
  --danger-900: #fde8eb;
  --danger-950: #fef6f7;
  --gray-100: #32313a;
  --gray-200: #4e4d5b;
  --gray-300: #6b697d;
  --gray-400: #8a889b;
  --gray-50: #151519;
  --gray-500: #aaa8b6;
  --gray-600: #bebcc7;
  --gray-700: #d1d0d8;
  --gray-800: #e1e1e5;
  --gray-900: #f2f1f3;
  --gray-950: #fcfcfd;
  --icons-brand: var(--base-brand);
  --icons-danger: var(--base-danger);
  --icons-dark-ghost: var(--text-dark-ghost);
  --icons-dark-primary: var(--text-dark-primary);
  --icons-dark-secondary: var(--text-light-secondary);
  --icons-disabled: var(--text-disabled);
  --icons-ghost: var(--text-ghost);
  --icons-info: var(--base-info);
  --icons-light-ghost: var(--text-light-ghost);
  --icons-light-primary: var(--text-light-primary);
  --icons-light-secondary: var(--text-light-secondary);
  --icons-positive: var(--base-positive);
  --icons-primary: var(--text-primary);
  --icons-secondary: var(--text-secondary);
  --icons-warn: var(--base-warn);
  --input-border: var(--gray-700);
  --input-border-brand: var(--base-brand);
  --input-disabled: var(--base-light-2);
  --input-disabled-layer: var(--base-light-1);
  --input-fill: var(--base-light-3);
  --input-fill-layer: var(--base-light-2);
  --lime-100: #20290a;
  --lime-200: #41570f;
  --lime-300: #638811;
  --lime-400: #87bd0f;
  --lime-50: #101406;
  --lime-500: #b0ff00;
  --lime-600: #baf042;
  --lime-700: #c9ee77;
  --lime-800: #daf0a8;
  --lime-900: #ecf7d4;
  --lime-950: #f5f9ec;
  --primary-100: #282556;
  --primary-200: #312b7d;
  --primary-300: #372fa7;
  --primary-400: #3b30d5;
  --primary-50: #1b1a33;
  --primary-500: #554ae2;
  --primary-600: #776ef2;
  --primary-700: #aba6ed;
  --primary-800: #d5d3f3;
  --primary-900: #edecf9;
  --primary-950: #f8f8fc;
  --status-accepted: var(--warn-500);
  --status-error: var(--danger-500);
  --status-success: var(--success-500);
  --success-100: #0f2f1b;
  --success-200: #174f2d;
  --success-300: #1e713f;
  --success-400: #249450;
  --success-50: #0a1f12;
  --success-500: #28ba62;
  --success-600: #3ed57a;
  --success-700: #6dd998;
  --success-800: #aae4c1;
  --success-900: #d3eede;
  --success-950: #edf8f1;
  --switch-disabled: #1f1f1f;
  --switch-ellipse: #eeeef1;
  --switch-ellipse-disabled: #707071;
  --switch-off: #3c3c3c;
  --switch-on: #0dc268;
  --tab-active: var(--base-white);
  --tab-active-danger: var(--danger-400);
  --tab-counter: var(--gray-800);
  --tab-counter-active: var(--gray-900);
  --tab-fill: var(--gray-900);
  --text-brand: var(--base-brand);
  --text-danger: var(--base-danger);
  --text-dark-ghost: #7b7a81;
  --text-dark-primary: #222026;
  --text-dark-secondary: #585760;
  --text-disabled: #d2d2d5;
  --text-ghost: #7b7a81;
  --text-info: var(--base-info);
  --text-light-ghost: #6e6e7a;
  --text-light-primary: #ebebed;
  --text-light-secondary: #a6a8ae;
  --text-positive: var(--base-positive);
  --text-primary: #222026;
  --text-secondary: #585760;
  --text-warn: var(--base-warn);
  --warn-100: #2a1b0a;
  --warn-200: #533513;
  --warn-300: #7d501c;
  --warn-400: #a36b29;
  --warn-50: #1c1208;
  --warn-500: #cc8735;
  --warn-600: #d69e5c;
  --warn-700: #e0b685;
  --warn-800: #e9ceaf;
  --warn-900: #f2e6d9;
  --warn-950: #f7f2ee; */ 
  /* PayCraft | Dark */
  /* color */
  /* --base-background: var(--base-dark-1);
  --base-brand: #d1f288;
  --base-brand-active: #d6f198;
  --base-brand-hover: #dbf3a5;
  --base-brand-light: #d1f28833;
  --base-brand-medium: #d1f2884d;
  --base-danger: #ff5c5c;
  --base-danger-active: #e95f5f;
  --base-danger-hover: #e56b6b;
  --base-danger-light: #ff5c5c33;
  --base-danger-medium: #ff5c5c4d;
  --base-dropdown: var(--base-dark-4);
  --base-focus: #ecf7d4;
  --base-hover: var(--base-dark-6);
  --base-info: #0a7aff;
  --base-info-light: #0a7aff33;
  --base-info-medium: #0a7aff4d;
  --base-layer: var(--base-dark-2);
  --base-layer-border: var(--base-dark-5);
  --base-layer-accent: var(--base-dark-5);
  --base-layer-hover: var(--base-dark-4);
  --base-positive: #0dc268;
  --base-positive-active: #13c86e;
  --base-positive-light: #0dc26833;
  --base-positive-medium: #0dc2684d;
  --base-postitive-hover: #1ce782;
  --base-shadow: #00000033;
  --base-temp-stroke: #ffffff29;
  --base-tooltip: var(--gray-900);
  --base-warn: #f0a72f;
  --base-warn-active: #e9a451;
  --base-warn-hover: #ebb069;
  --base-warn-light: #f0a72f33;
  --base-warn-medium: #f0a72f4d;
  --base-black: #000000;
  --base-dark-1: #161616;
  --base-dark-2: #1b1b1d;
  --base-dark-3: #202024;
  --base-dark-4: #252528;
  --base-dark-5: #2e2e31;
  --base-dark-6: #36363a;
  --base-light-1: #f9f9fa;
  --base-light-2: #f4f4f6;
  --base-light-3: #eeeef1;
  --base-light-4: #e3e3e8;
  --base-light-5: #d8d8de;
  --base-light-6: #cacad2;
  --base-white: #ffffff;
  --blue-100: #ddebf9;
  --blue-200: #bedaf4;
  --blue-300: #91c1ed;
  --blue-400: #5ea9ed;
  --blue-50: #d3e0ee;
  --blue-500: #2c91ee;
  --blue-600: #1d76c9;
  --blue-700: #1f5b93;
  --blue-800: #1d4163;
  --blue-900: #152737;
  --blue-950: #080d11;
  --button-brand: var(--base-brand);
  --button-brand-active: var(--base-brand-active);
  --button-brand-hover: var(--base-brand-hover);
  --button-brand-light: var(--base-brand-light);
  --button-brand-medium: var(--base-brand-medium);
  --button-brand-text: var(--text-dark-primary);
  --button-ghost: var(--base-dark-4);
  --button-ghost-active: var(--base-dark-5);
  --button-ghost-hover: var(--base-dark-6);
  --button-positive-active: var(--base-positive-active);
  --button-positive-hover: var(--base-postitive-hover);
  --button-danger: var(--base-danger);
  --button-danger-active: var(--base-danger-active);
  --button-danger-hover: var(--base-danger-hover);
  --button-danger-light: var(--base-danger-light);
  --button-danger-medium: var(--base-danger-medium);
  --button-disabled: var(--base-dark-4);
  --button-positive: var(--base-positive);
  --button-positive-light: var(--base-positive-light);
  --button-positive-medium: var(--base-positive-medium);
  --button-warn: var(--base-warn);
  --button-warn-active: var(--base-warn-active);
  --button-warn-hover: var(--base-warn-hover);
  --button-warn-light: var(--base-warn-light);
  --button-warn-medium: var(--base-warn-medium);
  --checkbox-active: var(--blue-500);
  --checkbox-active-hover: var(--blue-400);
  --checkbox-default: var(--gray-600);
  --checkbox-disabled: var(--gray-800);
  --checkbox-hover: var(--gray-500);
  --danger-100: #fde8eb;
  --danger-200: #f8bac3;
  --danger-300: #f499a6;
  --danger-400: #f17989;
  --danger-50: #fef6f7;
  --danger-500: #ed576b;
  --danger-600: #ce5565;
  --danger-700: #a14551;
  --danger-800: #7b3740;
  --danger-900: #57282e;
  --danger-950: #231013;
  --gray-100: #f2f1f3;
  --gray-200: #e1e1e5;
  --gray-300: #d1d0d8;
  --gray-400: #bebcc7;
  --gray-50: #fcfcfd;
  --gray-500: #aaa8b6;
  --gray-600: #8a889b;
  --gray-700: #6b697d;
  --gray-800: #4e4d5b;
  --gray-900: #32313a;
  --gray-950: #151519;
  --icons-brand: var(--base-brand);
  --icons-danger: var(--base-danger);
  --icons-dark-ghost: var(--text-dark-ghost);
  --icons-dark-primary: var(--text-dark-primary);
  --icons-dark-secondary: var(--text-dark-secondary);
  --icons-disabled: var(--text-disabled);
  --icons-ghost: var(--text-ghost);
  --icons-info: var(--base-info);
  --icons-light-ghost: var(--text-light-ghost);
  --icons-light-primary: var(--text-light-primary);
  --icons-light-secondary: var(--text-light-secondary);
  --icons-positive: var(--base-positive);
  --icons-primary: var(--text-primary);
  --icons-secondary: var(--text-secondary);
  --icons-warn: var(--base-warn);
  --input-border: var(--gray-900);
  --input-border-brand: var(--base-brand);
  --input-disabled: var(--base-dark-3);
  --input-disabled-layer: var(--base-dark-3);
  --input-fill: var(--base-dark-2);
  --input-fill-layer: var(--base-dark-1);
  --lime-100: #ecf7d4;
  --lime-200: #daf0a8;
  --lime-300: #c9ee77;
  --lime-400: #baf042;
  --lime-50: #f5f9ec;
  --lime-500: #b0ff00;
  --lime-600: #87bd0f;
  --lime-700: #638811;
  --lime-800: #41570f;
  --lime-900: #20290a;
  --lime-950: #101406;
  --primary-100: #edecf9;
  --primary-200: #d5d3f3;
  --primary-300: #aba6ed;
  --primary-400: #776ef2;
  --primary-50: #f8f8fc;
  --primary-500: #554ae2;
  --primary-600: #3b30d5;
  --primary-700: #372fa7;
  --primary-800: #312b7d;
  --primary-900: #282556;
  --primary-950: #1b1a33;
  --status-accepted: var(--warn-500);
  --status-error: var(--danger-500);
  --status-success: var(--success-500);
  --success-100: #d3eede;
  --success-200: #aae4c1;
  --success-300: #6dd998;
  --success-400: #3ed57a;
  --success-50: #edf8f1;
  --success-500: #28ba62;
  --success-600: #249450;
  --success-700: #1e713f;
  --success-800: #174f2d;
  --success-900: #0f2f1b;
  --success-950: #0a1f12;
  --switch-disabled: #1f1f1f;
  --switch-ellipse: #eeeef1;
  --switch-ellipse-disabled: #707071;
  --switch-off: #3c3c3c;
  --switch-on: #0dc268;
  --tab-active: var(--gray-900);
  --tab-active-danger: var(--danger-600);
  --tab-counter: var(--gray-900);
  --tab-counter-active: var(--gray-800);
  --tab-fill: var(--base-dark-2);
  --text-brand: var(--base-brand);
  --text-danger: var(--base-danger);
  --text-dark-ghost: #7b7a81;
  --text-dark-primary: #222026;
  --text-dark-secondary: #585760;
  --text-disabled: #3a3a3f;
  --text-ghost: #6e6e7a;
  --text-info: var(--base-info);
  --text-light-ghost: #6e6e7a;
  --text-light-primary: #ebebed;
  --text-light-secondary: #a6a8ae;
  --text-positive: var(--base-positive);
  --text-primary: #ebebed;
  --text-secondary: #a6a8ae;
  --text-warn: var(--base-warn);
  --warn-100: #f2e6d9;
  --warn-200: #e9ceaf;
  --warn-300: #e0b685;
  --warn-400: #d69e5c;
  --warn-50: #f7f2ee;
  --warn-500: #cc8735;
  --warn-600: #a36b29;
  --warn-700: #7d501c;
  --warn-800: #533513;
  --warn-900: #2a1b0a;
  --warn-950: #1c1208; */
  
  --gap-xxs: 0.125rem;
  --gap-xs: 0.25rem;
  --radius-xs: 0.25rem;
  --radius-s: 0.375rem;
  --base-shadow-blur: 0.5rem;
  --gap-s: 0.5rem;
  --radius-sm: 0.5rem;
  --gap-sm: 0.75rem;
  --radius-m: 0.75rem;
  --gap-m: 1rem;
  --radius-l: 1rem;
  --gap-l: 1.25rem;
  --radius-xl: 1.25rem;
  --gap-xl: 1.5rem;
  --radius-xxl: 1.5rem;
  --gap-xxl: 2rem;
  --circle-xxs: 1rem;
  --circle-xs: 1.25rem;
  --circle-s: 1.5rem;
  --circle-m: 1.75rem;
  --circle-l: 2rem;
  --circle-xl: 2.25rem;
  --circle-xxl: 2.5rem;
  --circle-xxxl: 3rem;
  --circle-large: 3.25rem;
}
