.Avatar_xxs{
    --circle-size: var(--circle-xxs);
}
.Avatar_xs{
    --circle-size: var(--circle-xs);
}
.Avatar_s{
    --circle-size: var(--circle-s);
}
.Avatar_m{
    --circle-size: var(--circle-m);
}
.Avatar_l{
    --circle-size: var(--circle-l);
}
.Avatar_xl{
    --circle-size: var(--circle-xl);
}
.Avatar_xxl{
    --circle-size: var(--circle-xxl);
}
.Avatar_xxxl{
    --circle-size: var(--circle-xxxl);
}
.Avatar_large{
    --circle-size: var(--circle-large);
}



.Avatar{
    border: none;
    outline: none;
    border-radius: 100%;
    width: var(--circle-size);
    height: var(--circle-size);
}

